<div id="app" class="interactive">

	<div class="main-col">
		<div id="headline" class="row">
			<div class="row figureTitle">Gas production and exploration in Australia</div>
			<div class="row subTitle">Showing petroleum tenements in Australia, which includes areas of exploration and production for unconventional gas such as coal seam gas, shale gas and tight gas</div>
		</div>

		<div id="key"></div>

	</div>	

	<div id="multimedia_container">

		<div id="map"></div>

	</div>

	<div class="credits">Guardian Graphic | Data courtesy <a href="https://energyresourceinsights.com/" target="_blank">Energy & Resource Insights</a>.</div>

</div>